.wrapper{
    padding: 20px;
    width: 100%;
    position: relative;
    background-color: whitesmoke; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: grey;
}

#fForfattersen{
    color: red;
}

#bildetekst{
    font-size: 7pt;
}

.mainTxt{
    padding: 10px;
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer{
    font-size: 10pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}