#fForfattersen{
    color: red;
}

.wrapper{
    padding: 20px;
    width: 100%;
    position: relative;
    background-color: whitesmoke; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: grey;
}

.mainTxt{
    padding: 10px;
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



