body{
    background-color: grey;
    padding: 100px;
}

.wrapper{
    margin: auto;
    padding: 20px;
    width: 95%;
    background-color: whitesmoke; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    font-size: 15pt;
}
#fForfattersen{
    color: goldenrod;
    
}

#bildetekst{
    font-size: 7pt;
}

.mainTxt{
    margin: auto;
    padding: 20px;
    width: 95%;
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11pt;
}
#avsnitt{
    padding-right: 500px;
}
h3{
    font-size: 12pt;
}
#link{
    text-align: right;
}

footer{
    font-size: 8pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}